<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Welcome to the Danger Zone</h1>
		<p>This is dangerous paragraph 1</p>
		<p>This is dangerous paragraph 2</p>
		<p>This is dangerous paragraph 3</p>
	</div>
</div>