<div id="page_wrapper">


	<div id="content">
		<h1>Welcome to brettdemetris.com</h1>
		<p>This blog was built originally following <a href="http://mackenziechild.me">Week 2 from mackenziechild.me</a></p>
		<p>My intention for this blog was to do something with Ruby on Rails.  I had already completed <a href"https://www.railstutorial.org/">This Rails Tutorial</a> which is by far the best way to spend a few hours if you are looking to get started on rails.  Once I finished the book, and the above tutorial, I decided to keep going.</p>
		<p>This is my blog about stuff and things!</p>
	</div>
</div>