<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Welcome to brettdemetris.com</h1>
		<p></a></p>
		<p></p>
		<p>This blog was built originally following <a href="http://mackenziechild.me">Week 2 from mackenziechild.me</a></p>
	</div>
</div>