<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>
		

	<div id="content">
		<h1>Welcome to BrettDemetris.com</h1>
		<p>The intention of this blog is to organically grow my ability to navigate the Ruby of Rails framework.  I have already completed <a href="https://www.railstutorial.org/"> The Ruby on Rails Tutorial</a> by Michael Hartl, which is hands down the best way to get interested in using Rails.  After I finished the book I didn't want to stop, but aside from completing tutorial after tutorial, the only way I felt I could keep using rails was to make this blog.</p>
	</div>
</div>